<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Adventure Times</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="character">Create Character</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>Adventure Times</h1>
  </div>
  <div class="row">
    <div class="col-md-9">
      <router-outlet> </router-outlet>
    </div>
    <!-- <div class="col-md-3">
      <h4>Character Stats</h4>
    </div> -->
  </div>
</div>
