<h3>Create a new Character</h3>
<div class="newCharForm">
  <div class="form-group">
    <label for="name">Character Name:</label>
    <input #newName>
  </div>
  <div class="form-group">
    <label for="height">Character Height:</label>
    <input #newHeight>
  </div>
  <div class="form-group">
    <label for="race">Character Race:</label>
    <select #newRace>
      <option value="Wood Elf">Wood Elf</option>
      <option value="Dark Elf">Dark Elf</option>
      <option value="Human">Human</option>
      <option value="Orc">Orc</option>
      <option value="Red Gaurd">Red Gaurd</option>
      <option value="Nord">Nord</option>
      <option value="Dwarf">Dwarf</option>
    </select>
  </div>
  <div *ngIf="skillPoints > 0">
    <h1>Skill Points Left: {{skillPoints}}</h1>
    <h3>Charisma: {{charisma}} <button (click)="addSkill('charisma')">+</button><button (click)="minusSkill('charisma')">-</button></h3>
    <h3>Strength: {{strength}} <button (click)="addSkill('strength')">+</button><button (click)="minusSkill('strength')">-</button></h3>
    <h3>Dexterity: {{dexterity}} <button (click)="addSkill('dexterity')">+</button><button (click)="minusSkill('dexterity')">-</button></h3>
    <h3>Acrobatics: {{acrobatics}} <button (click)="addSkill('acrobatics')">+</button><button (click)="minusSkill('acrobatics')">-</button></h3>
    <h3>Luck: {{luck}} <button (click)="addSkill('luck')">+</button><button (click)="minusSkill('luck')">+</button></h3>
  </div>
  <button type="submit" (click)="createChar(newName.value, newHeight.value, newRace.value,  charisma, acrobatics, dexterity, strength, luck)">Create</button>
</div>
